body{
    margin: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}
.first-part{
    height: 500px;
}
.first-width,.last-width{
    width: 40%;
    float: left;
    margin-left: 5%;
    padding-left: 2%;
}
.first-width{
    margin-top: 10%;
}
.first-width h1{
    line-height: 10px;
    font-size: 3rem;
    font-weight: bold;
}
.first-width span{
    color: orange;
}
.first-width p{
    color: gray;
}
.first-width a{
    text-decoration: none;
    color: white;
    font-weight: bold;
}
.link-button{
    background-color: rgb(239, 83, 21);
    padding: 8px 20px;
    border-radius: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5);
}
.last-width img{
    width: 100%;
}
.man2{
    width: 40%;
}
.man2 img{
    width: 338px;
    height: 536px;
    margin-top: 70px;
}
.about-part{
    width: 100%;
    height: 600px;
    background-image: url(images/bg-about.jpg);
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
}
.contact-part{
    width: 30%;  
}
.contact-part h2{
    font-size: 24px;
    font-weight: bold;
    color: rgb(107, 103, 99);
}
.contact-part a{
    text-decoration: none;
    color: white;
    font-weight: bold;
}
.contact-me{
    background-color: rgb(239, 83, 21);
    padding: 8px 20px;
    border-radius: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5);
}
.recipies-title{
    width: 40%;
    text-align: center;
    justify-content: center;
    margin-left: 30%;
}
.item-part{
    width: 80%;
    margin-top: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    margin-left: 10%;
}
.item-part img{
    width: 100%;
}
.recipies-cart{
    padding: 10px;
    box-shadow: 2px 2px 20px grey;
    border-radius: 15px;
}
.recipies-part{
    margin-bottom: 20px;
}
.social-count{
    width: 60%;
    height: 100px;
    margin-left: 20%;
    margin-top: 5%;
    margin-bottom: 5%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    box-shadow: 5px 10px 40px grey;
    border-radius: 10px;
    line-height: 10px;
}
footer{
    height: 150px;
    background-color: black;
    margin-bottom: 0;
    text-align: center;
}
.text{
    align-items: center;
    position: relative;
    top: 20px;
}
.text>h2{
    color: rgba(240, 248, 255, 0.75);
    position: relative;
    top: 15px;
}
span{
    color: orange;
}
.text>p{
    color: rgba(240, 248, 255, 0.75);
}

